*{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
	
	
}

body{
	background: black;
}

h1{
	text-align:center;
	font-size: 100px;
	text-decoration-style: wavy;
	color:white;
}


.container{
	
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 8%;
	
	
}


.gallery{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 30px;
	
}

.gallery img{
	width: 100%;
}

footer {
	height : 80px;
  	display: block;
  	background-color: #e0e0e0;
	text-align: center;
	padding: 35px;
	border-top: #f8f8f8;

}
