/* Main CSS file*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}	

nav{
	background: black;
	height: 5rem;
	width: 100%;
	border-bottom: 10px groove;
	
   
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline;
	line-height: 80px;
	margin: 0 5px;
	
}

nav ul li a{
	
	color : white;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	text-decoration:none;
	text-transform: uppercase;
}



a:active,a:hover{
	background: #1b9bff;
	transition: .5s;
	
}


.product_background{
	background:#F5F5F5;
	
}

.parent{
		display:flex;
		flex-direction: row; 
}

.child1{
	width: 50%;
	height: 80vh;
	text-align:center;
	border-radius: 10px;
	margin-right: 50px; /* Add some space between products */
	
}
.child2{

	width: 50%;
	height: 80vh;
	text-align:center;
	border-radius: 10px;
}
div{
	padding:50px;
}
img{
	border-radius: 10px;;
	height:80%;
	width: 100%;
	position:relative;
}


div h3{	
	font-size:30px;
	margin-top: 20px;
	margin-bottom: 20px;
}


div a{
	color : white;
	background: purple;
	font-size: 30px;
	padding: 7px 13px;
	border-radius: 50px;
	text-transform: uppercase;
	text-decoration:none
}




.product_heading {
  width:350px;
  height:60px;
  box-shadow: 0 0 20px 10px #888888;
  margin: 0 30px;
  display: flex;
  margin-top: 0px;
  padding: 10px 20px;
  /*background-color: ;*/
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}

footer {
	height : 80px;
  	display: block;
  	background-color: #e0e0e0;
	text-align: center;
	padding: 35px;
	border-top: #f8f8f8;

}

@media (max-width: 712px){
	label.logo{
		font-size:25px;
		color:red;
		line-height: 80px;
		padding: 0 50px;
	}

	nav ul{
		float: right;
		margin-right: 10px;
	}
	
	nav ul li{
		display: inline;
		line-height: 80px;
		margin: 0 5px;
		font-size: 25px;
	}
	
	nav ul li a{
		
		color : white;
		
		padding: 7px 13px;
		border-radius: 3px;
		text-decoration:none;
		text-transform: uppercase;
	}
	
	
	
	a:active,a:hover{
		background: #1b9bff;
		transition: .5s;
		
	}
	
	
	.product_background{
		background:#F5F5F5;
		
	}
	
	.parent{
			display:flex;
			flex-direction: row; 
	}
	
	.child1{
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
		margin-right: 50px; /* Add some space between products */
		
	}
	.child2{
	
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
	}
	div{
		padding:20px;
	}
	img{
		border-radius: 10px;;
		height:60%;
		width: 100%;
		position:relative;
	}
	
	/*OVERYLAY*/
	
	.overlay{
		width:auto;
		height:auto;
		background:rgba(0,0,0,0.6);
		opacity:0;
		transition:0.6s;
		position:absolute;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		
	}
	
	.overlay:hover{
		opacity: 1;
	}
	
	.overlay h1{
		font-size:55px;
		color:#ffe100;
		margin-bottom:15px;
	}
	
	.overlay p{
		font-size:19px;
		color:white;
	}
	
	.overlay > *{
		transform: translateY(25px);
		transition: transform 1.0s;
	}
	
	.overlay:hover > *{
		transform:translateY(0px);
	}
	
	/*END HERE*/
	
	div h3{	
		font-size:20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	
	div a{
		color : white;
		background: purple;
		font-size: 20px;
		padding: 7px 13px;
		border-radius: 50px;
		text-transform: uppercase;
		text-decoration:none
	}
	
	
	
	
	.product_heading {
	  width:350px;
	  height:60px;
	  box-shadow: 0 0 20px 10px #888888;
	  margin: 0 30px;
	  display: flex;
	  margin-top: 0px;
	  padding: 10px 20px;
	  /*background-color:;*/
	  color: #ffffff;
	  font-weight: bold;
	  font-size: 50px;
	}
	
	footer {
		height : 80px;
		  display: block;
		  background-color: #e0e0e0;
		text-align: center;
		padding: 35px;
		border-top: #f8f8f8;
	
	}
	
}
@media (max-width: 549px){
	label.logo{
		font-size:25px;
		color:green;
		line-height: 80px;
		padding: 0 15px;
	}

	nav ul{
		float: right;
		margin-right: 10px;
	}
	
	nav ul li{
		display: inline;
		line-height: 80px;
		margin: 0 5px;
		font-size: 25px;
	}
	
	nav ul li a{
		
		color : white;
		
		padding: 7px 5px;
		border-radius: 3px;
		text-decoration:none;
		text-transform: uppercase;
	}
	
	
	
	a:active,a:hover{
		background: #1b9bff;
		transition: .5s;
		
	}
	
	
	.product_background{
		background:#F5F5F5;
		
	}
	
	.parent{
			display:flex;
			flex-direction: row; 
	}
	
	.child1{
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
		margin-right: 50px; /* Add some space between products */
		
	}
	.child2{
	
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
	}
	div{
		padding:20px;
	}
	img{
		border-radius: 10px;;
		height:60%;
		width: 100%;
		position:relative;
	}
	
	/*OVERYLAY*/
	
	.overlay{
		width:auto;
		height:auto;
		background:rgba(0,0,0,0.6);
		opacity:0;
		transition:0.6s;
		position:absolute;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		
	}
	
	.overlay:hover{
		opacity: 1;
	}
	
	.overlay h1{
		font-size:55px;
		color:#ffe100;
		margin-bottom:15px;
	}
	
	.overlay p{
		font-size:19px;
		color:white;
	}
	
	.overlay > *{
		transform: translateY(25px);
		transition: transform 1.0s;
	}
	
	.overlay:hover > *{
		transform:translateY(0px);
	}
	
	/*END HERE*/
	
	div h3{	
		font-size:20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	
	div a{
		color : white;
		background: purple;
		font-size: 20px;
		padding: 7px 13px;
		border-radius: 50px;
		text-transform: uppercase;
		text-decoration:none
	}
	
	
	
	
	.product_heading {
	  width:350px;
	  height:60px;
	  box-shadow: 0 0 20px 10px #888888;
	  margin: 0 30px;
	  display: flex;
	  margin-top: 0px;
	  padding: 10px 20px;
	  /*background-color:;*/
	  color: #ffffff;
	  font-weight: bold;
	  font-size: 50px;
	}
	
	footer {
		height : 80px;
		  display: block;
		  background-color: #e0e0e0;
		text-align: center;
		padding: 35px;
		border-top: #f8f8f8;
	
	}
	
}

@media (max-width: 416px){
	label.logo{
		font-size:25px;
		color:blue;
		line-height: 80px;
		padding: 0 5px;
	}

	nav ul{
		float: right;
		margin-right: 10px;
	}
	
	nav ul li{
		display: inline;
		line-height: 80px;
		margin: 0 5px;
		font-size: 25px;
	}
	
	nav ul li a{
		
		color : white;
		
		padding: 7px 5px;
		border-radius: 3px;
		text-decoration:none;
		text-transform: uppercase;
	}
	
	
	
	a:active,a:hover{
		background: #1b9bff;
		transition: .5s;
		
	}
	
	
	.product_background{
		background:#F5F5F5;
		
	}
	
	.parent{
			display:flex;
			flex-direction: row; 
	}
	
	.child1{
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
		margin-right: 50px; /* Add some space between products */
		
	}
	.child2{
	
		width: 50%;
		height: 80vh;
		text-align:center;
		border-radius: 10px;
	}
	div{
		padding:20px;
	}
	img{
		border-radius: 10px;;
		height:60%;
		width: 100%;
		position:relative;
	}
	
	/*OVERYLAY*/
	
	.overlay{
		width:auto;
		height:auto;
		background:rgba(0,0,0,0.6);
		opacity:0;
		transition:0.6s;
		position:absolute;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		
	}
	
	.overlay:hover{
		opacity: 1;
	}
	
	.overlay h1{
		font-size:55px;
		color:#ffe100;
		margin-bottom:15px;
	}
	
	.overlay p{
		font-size:19px;
		color:white;
	}
	
	.overlay > *{
		transform: translateY(25px);
		transition: transform 1.0s;
	}
	
	.overlay:hover > *{
		transform:translateY(0px);
	}
	
	/*END HERE*/
	
	div h3{	
		font-size:20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	
	div a{
		color : white;
		background: purple;
		font-size: 20px;
		padding: 7px 13px;
		border-radius: 50px;
		text-transform: uppercase;
		text-decoration:none
	}
	
	
	
	
	.product_heading {
	  width:350px;
	  height:60px;
	  box-shadow: 0 0 20px 10px #888888;
	  margin: 0 30px;
	  display: flex;
	  margin-top: 0px;
	  padding: 10px 20px;
	  /*background-color:;*/
	  color: #ffffff;
	  font-weight: bold;
	  font-size: 50px;
	}
	
	footer {
		height : 80px;
		  display: block;
		  background-color: #e0e0e0;
		text-align: center;
		padding: 35px;
		border-top: #f8f8f8;
	
	}
	
}
@media (max-width: 399px){
	label.logo{
		font-size:20px;
		color:purple;
		line-height: 80px;
		margin-left: auto;
	}

	nav ul{
		float: right;
		margin-right: 10px;
		
	}
	
	nav ul li{
		display: inline;
		line-height: 75px;
		padding:0 0;
		
	}
	
	nav ul li a{
		
		color : white;
		font-size: 15px;
		border-radius: 3px;
		text-decoration:none;
		text-transform: uppercase;
		margin:0px 0px;
	}
	
	
	
	a:active,a:hover{
		background: #1b9bff;
		transition: .5s;
		
	}
	
	
	.product_background{
		background:#F5F5F5;
		
	}
	
	.parent{
			display:flex;
			flex-direction: column; 
			align-items: center;
	}
	
	.child1{
		width: 50%;
		height: 60vh;
		text-align:center;
		border-radius: 10px;
		margin-right: 0; /* Add some space between products */
		
	}
	.child2{
	
		width: 50%;
		height: 60vh;
		text-align:center;
		border-radius: 10px;
	}
	div{
		padding:5px;
	}
	img{
		border-radius: 10px;;
		height:60%;
		width: 100%;
		position:relative;
	}
	
	/*OVERYLAY*/
	
	.overlay{
		width:auto;
		height:auto;
		background:rgba(0,0,0,0.6);
		opacity:0;
		transition:0.6s;
		position:absolute;
		display:flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		
	}
	
	.overlay:hover{
		opacity: 1;
	}
	
	.overlay h1{
		font-size:55px;
		color:#ffe100;
		margin-bottom:15px;
	}
	
	.overlay p{
		font-size:19px;
		color:white;
	}
	
	.overlay > *{
		transform: translateY(25px);
		transition: transform 1.0s;
	}
	
	.overlay:hover > *{
		transform:translateY(0px);
	}
	
	/*END HERE*/
	
	div h3{	
		font-size:20px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	
	
	div a{
		color : white;
		background: purple;
		font-size: 20px;
		padding: 7px 13px;
		border-radius: 50px;
		text-transform: uppercase;
		text-decoration:none
	}
	
	
	
	
	.product_heading {
	  width:350px;
	  height:60px;
	  box-shadow: 0 0 20px 10px #888888;
	  margin: 0 30px;
	  display: flex;
	  margin-top: 0px;
	  padding: 10px 20px;
	  /*background-color:;*/
	  color: #ffffff;
	  font-weight: bold;
	  font-size: 50px;
	}
	
	footer {
		height : 80px;
		  display: block;
		  background-color: #e0e0e0;
		text-align: center;
		padding: 35px;
		border-top: #f8f8f8;
	
	}
	
}